


/* Definición de la animación para el botón */
@keyframes pulse {
  0% {
      transform: scale(1);
      background-color: #007bff; /* Color inicial del fondo */
      color: #fff; /* Color inicial del texto */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombreado inicial */
  }
  50% {
      transform: scale(1.1);
      background-color: #0056b3; /* Cambio de color del fondo al 50% de la animación */
      color: #fff; /* Cambio de color del texto al 50% de la animación */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambio de sombreado al 50% de la animación */
  }
  100% {
      transform: scale(1);
      background-color: #007bff; /* Color final del fondo */
      color: #fff; /* Color final del texto */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombreado final */
  }
}


/* Aplicar la animación cuando la clase 'submitting' está presente en el botón */
.submitting {
  animation: pulse 0.5s ease-in-out;
}
