
/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #0056b3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: #fff;
}


/* Definición de la animación para el botón */
@keyframes pulse {
  0% {
      transform: scale(1);
      background-color: #007bff; /* Color inicial del fondo */
      color: #fff; /* Color inicial del texto */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombreado inicial */
  }
  50% {
      transform: scale(1.1);
      background-color: #0056b3; /* Cambio de color del fondo al 50% de la animación */
      color: #fff; /* Cambio de color del texto al 50% de la animación */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambio de sombreado al 50% de la animación */
  }
  100% {
      transform: scale(1);
      background-color: #007bff; /* Color final del fondo */
      color: #fff; /* Color final del texto */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombreado final */
  }
}


/* Aplicar la animación cuando la clase 'submitting' está presente en el botón */
.submitting {
  animation: pulse 0.5s ease-in-out;
}
